/* Specialty dishes section */
.dishes {
    background-color: #d3d9c4;
  }
  
  .dishes-row {
    margin-left: 55px;
    margin-right: 55px;
  }
  
  .dishes-card {
    background-color: #d3d9c4;
    border: none;
  }
  
  .card-img-top {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .card-body {
    padding: 20px 0 20px 0;
  }